.btn {
    margin-top: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.btn-kuning1 {
    background-color: $kuning2;
}
