$kuning1: #fef8e6;

$kuning2: #fad15f;

$biru1: #272445;

$putih: #ffffff;

$abu1: #c4c4c4;

.text-kuning1 {
    color: $kuning1;
}

.text-kuning2 {
    color: $kuning2;
}

.text-biru1 {
    color: $biru1;
}
.text-putih {
    color: $putih;
}
.text-abu1 {
    color: $abu1;
}
