@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

.font-heading1 {
    font-family: "Poppins", Tahoma, sans-serif;
    font-weight: 700;
    @include font-size(64px);
    @include rfs(65px, line-height);
    @include margin-top(20px);
    @include margin-bottom(20px);
}

.font-small-heading {
    font-family: "Poppins", Tahoma, sans-serif;
    font-weight: 500;
    @include font-size(18px);
}

.font-button-text {
    font-family: "Poppins", Tahoma, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    @include font-size(18px);
}

.font-button-selected {
    font-family: "Poppins", Tahoma, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    @include font-size(18px);
}

.font-input-heading {
    font-family: "Poppins", Tahoma, sans-serif;
    font-weight: 700;
    @include font-size(14px);
}

.font-table-heading {
    font-family: "Poppins", Tahoma, sans-serif;
    font-weight: 700;
    @include font-size(24px);
}
